.news-detail-card{
          width: 23%;
          display: flex;
          flex-direction: column;
          height: 42rem;
}

.news-detail-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.news-detail-card-title{
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}

.news-detail-card-title img{
    width: 10%;
    border-radius: 30px;
    object-fit: cover;
    border: 1px solid rgb(145, 142, 142);
    margin-left: 0.2rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.news-detail-card-title p{
    font-size: 1.5rem;
}

.news-detail-card-title span{
    font-size: 1rem;
}

.news-detail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55vh;
}

.news-detail-info h2{
    letter-spacing: 0.1rem;
}

.news-detail-info p{
    color: #6b6868;
}

.news-detail-category{
    height: 2rem;
}

.news-detail-category p{
      color: #e82020;
}

.news-detail-category span{
   color: #6b6868;
}

